.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background);
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
}

.header__part {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.app-logo {
  --size: 30px;
  width: var(--size);
  height: var(--size);
  margin-right: 15px;
}

.app-name {
  font-weight: 400;
  font-size: 1.2em;
}


.input-label {
  color: var(--option-name);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 0.9em;
}

.input-box {
  border: 1px solid var(--option-box-border);
  border-radius: 3px;
  width: 40px;
  height: 30px;
  color: var(--input-value);
  padding: 0 10px;
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
