@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

:root {
  --header-background: #191919;
  --header-border: 1px solid hsla(0,0%,100%,0.2);
  --header-box-shadow: 0 4px 16px 0 rgb(0 0 0 / 60%);
  --page-background: #131313;
  --app-name: #000000;
  --option-name: hsla(0,0%,100%,0.4);
  --option-box-border: hsla(0,0%,100%,0.1);
  --input-value: #848484;
  --footer-text: #989898;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--option-box-border);
}
body {
  background-color: var(--page-background);
}
