.window {
  height: 100%;
  width: 100%;
  background-color: #252525;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 43%) 10px 10px 62px 3px;
}

.title-bar {
  height: 40px;
  background-color: #202020;
  position: relative;
}

.title-text {
  color: #afafaf;
  position: absolute;
  left: 80px;
  bottom: 0;
  margin: 0;
  padding: 7px 16px;
  font-size: 0.9em;
  min-width: 10px;
  background-color: #292a32;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.title-button {
  background-color: #3a3a3a;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0 5px;
}

.ace_editor {
  font-family: 'Fira Code', monospace !important;
}

.ace_hidden-cursors .ace_cursor {
  opacity: 0;
}

.ace_cursor {
    animation: none!important
}
