.background {
  width: 400px;
  height: auto;
  position: relative;
  box-sizing: border-box;
  z-index:2;
}

.resize-handle-left {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  cursor: col-resize;
  transition-duration: 300ms;
  z-index: 10;
}

.resize-handle-right {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  transform: translate(50%, -50%);
  cursor: col-resize;
  transition-duration: 300ms;
  z-index: 10;
}

.resize-handle-bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  transform: translate(-50%, 50%);
  cursor: row-resize;
  transition-duration: 300ms;
  z-index: 10;
}

.resize-handle-left:hover,
.resize-handle-right:hover,
.resize-handle-bottom:hover {
  width: 15px;
  height: 15px;
}
